---
title: Ethan Palm | Writer
name: home
layout: base
---

<h2>Working on a new layout! Please stay tuned</h2>
<img src="/Images/GOTTAGOFAST.GIF" alt="Sonic running as fast as I'm working">

<!--
<div class="bg"></div>
<main class="site-container">
  <div class="home">
    <div class="about column">
      <div>
        <h1>Ethan Palm</h1>-Technical writer. Content designer. Author. I'm not set on a specific title. I love words and spend my time putting them together in ways that are useful or entertaining.
      </div>
      <div> Right now, I'm a writer at <a href="https://www.github.com/">GitHub</a>.</div>
      <div>In the past, I've held a variety of writing roles where I produced content ranging from UX microcopy and HTML emails to magazine advertorials and press releases. I also did a year of <a href="https://www.nationalservice.gov/programs/americorps/americorps-programs/americorps-vista">AmeriCorps</a> service and moved back and forth across the United States a few times. I had a pleasant four years at <a href="https://anthropology.ucdavis.edu/">UC</a>&nbsp;<a href="https://writing.ucdavis.edu/academics/writing-minor">Davis</a> for undergrad and I got a graduate degree at <a href="https://www.cmu.edu/dietrich/english/academic-programs/ma-pw/index.html">CMU</a> during a pandemic.<span class="accent superscript" id="doubleasterisk">**</span></div>
    </div>
    <div class="work column">
      <h2>Portfolio</h2>
      {% for item in site.data.portfolio %}
        {% if item.show %}
        <a class="project" id="{{ item.id }}" href="{{ item.url }}">
          <b>{{ item.title }}</b>—{{ item.description }}{% if item.external%}<span class="accent external-link">&#8599;&#xFE0E;</span>{% endif %}
        </a>
        {% endif %}
      {% endfor %}
      <div class="notes grid">
        <!--<span class="accent">*</span><p class="note" id="asterisk2"><span>I'd be happy to talk now about potential job opportunities down the road. Catch me on <a href="http://linkedin.com/ethanpalm">LinkedIn</a> or <a href="mailto:ethanpalm@gmail.com">email me</a>.</span></p>-->
        <span class="accent">**</span><p class="note" id="doubleasterisk2"><span>If you'd like all the details, here is my <a href="/ethan-palm-resume-2020.pdf">resume</a>. It's a little outdated, but I'm not looking for a job right now.</span></p>
      </div>
    </div>
  </div>

</main>
-->
